[submodule "skypilot-gradio"]
	path = skypilot-gradio
	url = https://github.com/ZackBradshaw/skypilot-gradio
[submodule "vllm-gradio"]
	path = vllm-gradio
	url = https://github.com/ZackBradshaw/vllm-gradio
