[submodule "skypilot-gradio"]
	path = skypilot-gradio
	url = https://github.com/ZackBradshaw/skypilot-gradio
[submodule "vllm-gradio"]
	path = vllm-gradio
	url = https://github.com/ZackBradshaw/vllm-gradio
[submodule "agent_tools"]
	path = agent_tools
	url = https://github.com/ZackBradshaw/agent_tools
[submodule "Chat-nFace"]
	path = Chat-nFace
	url = https://github.com/ZackBradshaw/Chat-nFace
[submodule "frontend/Proxmox/text-generation-webui"]
	path = frontend/Proxmox/text-generation-webui
	url = https://github.com/ZackBradshaw/text-generation-webui
[submodule "text-generation-webui"]
	path = text-generation-webui
	url = https://github.com/ZackBradshaw/text-generation-webui
[submodule "skypilot"]
	path = skypilot
	url = https://github.com/ZackBradshaw/skypilot
[submodule "swarm_interface"]
	path = swarm_interface
	url = https://github.com/ZackBradshaw/swarm_interface
